<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Widget</title>
    <link href="uikit.almost-flat.css" rel="stylesheet" type="text/css" />
    <link href="widget.css" rel="stylesheet" type="text/css" />
    <link href="advanced.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="container" class="<%= safe %>" style="width: 400px; height: 400px; border: 1px solid #000"></div>
    <script src="jquery.js"></script>
    <script src="uikit.js"></script>
    <script src="index.js"></script>
  </body>
</html>
